.homePage {
    padding: 2rem;
    background-color: var(--primary-color);
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.welcomeSection {
    text-align: center;
    margin-bottom: 2rem;
}

.welcomeText {
    font-size: 2.4rem;
    color: #fff;
}

.welcomeText span {
    color: var(--accent-color);
}

.errorMessage {
    color: red;
    font-size: 2rem;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoriesSectionHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
    transition: border-color .2s ease-in-out;
}

.categoriesSectionHeader h2 {
    margin: 0 1rem 0 0;
    transition: color .2s ease-in-out;
}

.shevronIcon {
    color: #fff;
    transition: color .2s ease-in-out;
}

.categoriesSectionHeader:hover,
.categoriesSectionHeader:hover .shevronIcon {
    color: var(--accent-color);
    border-color: var(--secondary-accent-color);
}

.categoriesList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    align-items: stretch;
    justify-items: stretch;
}

.categoriesList__addOperationBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    min-width: 200px;
}

.categoriesList__addOperationBtn button {
    transform: translateY(-17px);
}